$color-blue-light: rgb(238, 248, 246);
$color-blue-green-light: rgb(164, 191, 186);
$color-orange-light: rgb(250, 221, 178);
$color-black: #000;
$color-white: #FFF;
$size-2-half-rem: 2.5rem;
$size-1-half-rem: 1.5rem;
$color-purple-light: rgb(184, 200, 229);
$color-gray-light: rgb(226, 228, 232);
$small-padding: 2vh 3vw;
$medium-padding: 3vh 5vh;
$padding-3: 3vh 3vh;
$big-padding: 17vh 13vw;
$square-size-20: 20vw; 
$product-number: 7;
