.menu {
    @include flexRowSpaceAroundWrap();
    overflow-y: scroll;
    max-height: 500px;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 6px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
        background-color: #555;
    }
    &__product {
        position: relative;
        margin-top: 3%;
        @for $i from 1 to $product-number {
            &--#{$i} {
                background: url("/src/images/product#{$i}.jpg") center no-repeat;
                background-size: cover;
            }
        }
        &__name {
            text-align: center;
            font-size: $size-2-half-rem;
            font-weight: bold;
            color: $color-white;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        &--active {
            border: 5px $color-orange-light solid;
        }
    }
}

@media screen and (min-width: 1200px) {
    .menu {
        &__product {  
            width: $square-size-20;
            height: $square-size-20;
        }
    }
}

@media screen and (max-width: 1199px) {
    .menu {
        &__product {
            width: $square-size-30;
            height: $square-size-30;
        }
    }
}

@media screen and (max-width: 700px) {
    .menu {
        &__product {
            width: $square-size-50;
            height: $square-size-50;
        }
    }
}