.nav {
    color: $color-blue-green-light;
    width: 100%;
    &__list {
        @include flexRowSpaceAround();
        &__item {
            padding: $padding-3;
            cursor: pointer;
            &--active {
                color: $color-black;
                border-bottom: 1px $color-black solid;
            }
        }
    }
}